section{
    height: 80vh;
    border: 5px solid gainsboro;
}

/*using ID to show specificity over a class*/
#RedPara{
    color: red;
}

/*this is a class being overridden*/
.red{
    color: blueviolet;
}

.green{
    color: greenyellow;
}

.blue{
    color: blue;
}